
.bg{
    background: url("/img/plane-flipped.png") no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100%;
}

.form-container{
    position: absolute;
    top: 10px;
    left: 10vh;
    background: #f8f8f8;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(47, 47, 47, 0.85);
}

@media only screen and (max-width: 678px) {
    .bg{
        background-size: 300%;
    }
}